$lg_min: 1200px;
$md_max: 1199px;
$md_min: 960px;
$sm_max: 959px;

$container_lg: 1160px;
$container_md: 940px;
$container_sm: 280px;

$lg_min_pens: 1540px;
$md_max_pens: 1539px;
$md_min_pens: 940px;
$sm_max_pens: 939px;

$container_lg_pens: 1500px;
$container_md_pens: 920px;
$container_sm_pens: 280px;